:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
.home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#141e30, #243b55);
}

.cargando {
    height: 100%;
}

.games-container {
    display: flex;
    flex-direction: column;
}

.fila {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    background: rgba(0,0,0,.5);
}

.card {
    margin: 20px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.titulo {
    color: white;
}

.neon-card {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin: 20px;
    width: 300px;
}

.neon-card:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.neon-card:nth-child(1){
    filter: hue-rotate(270deg);
}
.neon-card:nth-child(2){
    filter: hue-rotate(110deg);
}
.neon-card span{
    position: absolute;
    display: block;
}
.neon-card span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.neon-card span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.neon-card span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.neon-card span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.neon-card-container {
    align-self: flex-end;
}

.filtros {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-container {
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.home .neon-link.paginado {
    padding: 10px;
    margin: 0px;
    display: flex;
}

.home .neon-link.no-relleno{
    background: #03e9f4;
    color: #050801;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4; */
     /* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
}

.home .neon-link.no-reflect {
    -webkit-box-reflect: initial;
}

.home .neon-card.no-reflect {
    -webkit-box-reflect: initial;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .paginado-search-bar-container {
      display: flex;
      height: 90px;
  }

.content-container {
    padding: 0px 15px;
}

.errorMessage {
    color: white;
    height: 100vh;
}