
button {
    border-radius: 25px;  
    padding: 15px 25px;
    
    
}
h1{
    margin-left: 1%;
    color: rgb(234, 243, 232);
    text-decoration: underline rgb(234, 243, 232);
}
p{
    font-size: 30px;
    color: rgb(234, 243, 232);
    margin: 40px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.background{
    background-image: url('./imagenes/brackground.jpg');
    height:929px;
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

}